#emailCard{
    font-family: Arial;
}

.mail__card{
    padding: 42px 80px;
    background: #ffffff;
    width: 805px;
    text-align: left;
    &-logo{
        margin-bottom: 27px;
    }
    &-title{
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    }
    &-text{
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        p{
            font-weight: 600;
            font-size: 13px;
            line-height: 130%;
            padding-top: 16px;
            padding-bottom: 40px;
        }
        a{
            color: $light-blue;
        }
    }
    &-btn{
        width: 233px;
        padding: 14px 0;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 27px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        background: linear-gradient(180deg, #FF7C66 0%, #FF5134 167.86%);
        border-radius: 12px;
        color: white;
    }
    &-contact-us{
        margin-top: 52px;
        margin-bottom: 77px;
        .title{
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &-copy{
        margin-bottom: 28px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.165px;
        color: #8F95A1;
    }
}