---
layout: default
title: Vido | Reset password
---

<main class="main">
    <div class="container">
        <div class="title reset__password-title">Reset password</div>
        <div class="new_password-form">
            <form id="newPasswordForm" action="main.php" method="post">
                <div class="new__password">
                    <input type="password" id="newPassword" placeholder="New password" name="password">
                    <a href="#" class="password-control"></a>
                </div>
                <div class="password-error-block">
                    <div class="new__password new__password-repeat">
                        <input type="password" id="newPasswordRepeat" placeholder="Подтвердить новый пароль" name="password">
                    </div>
                    <div class="error-password"></div>
                </div>
                <div class="reset__password-btn">
                    <a href="javascript:;" class="btn green-btn" id="passwordSubmit">Установить новый пароль</a>
                </div>
            </form>
        </div>
        <div class="reset_password-sent block-inactive">
            <p>Пароль успешно изменен</p>
            <img src="assets/images/svg/reset-ok.svg" alt="">
        </div>
    </div>
</main>