<main class="main" style="text-align: -webkit-center;" id="emailCard">
    <div class="container">
        <div class="mail__card">
            <div class="mail__card-logo">
                <img src="assets/images/logotype.png" alt="">
            </div>
            <div class="mail__card-title">
                Vidodo Guide. Password reset
            </div>
            <div class="mail__card-text">
                Hello Angela Merkel!
                <br>
                Looks like you forgot your VidodoGuide password.
                <br>
                No problem - we will help!
                <br>
                <br>
                To recover your password, follow the link below. 
            </div>
            <a href="#">
                <div class="mail__card-btn">
                    <p>Reset the passeword</p>
                </div>
            </a>
            <div class="mail__card-text">
                If you have not tried to reset your password, please just ignore this message.
                <p>VidodoGuide Team</p>


                <span>
                    The new password was requested at:
                    <br>
                    2020-12-16 10 18:03 (UTC) 
                </span>
            </div>
            <div class="mail__card-contact-us">
                <div class="title">Contact us</div>
                <div class="mail__card-text">
                    The feedback form and contact phone 
                    number for your country can be found on the 
                    <a href="#">Website</a>
                </div>
            </div>
            <div class="mail__card-copy">
                © 2020, Vidodo Guide LLP. All rights reserved. xxx
            </div>
        </div>
    </div>
</main>