input[type=radio]{
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #DCDFE7;
}

@media (max-width: 992px){
    .radio-incomplete{
        width: 24px;
        margin-right: 12px;
    }
}